table {
    width: 100%;
    max-width: 65em;
    border: 1px solid #dedede;
    margin: 15px auto;
    border-collapse: collapse;
    empty-cells: show;
}
table th,
table td {
    height: 35px;
    border: 1px solid #dedede;
    padding: 0 10px;
}
table th {
    font-weight: bold;
    text-align: center !important;
    background: rgba(158,188,226,0.2);
    white-space: nowrap;
}
table tbody tr:nth-child(2n) {
    background: rgba(158,188,226,0.12);
}
table td:nth-child(1) {
    white-space: nowrap;
}
table tr:hover {
    background: #efefef;
}
.table-area {
    overflow: auto;
}